In [15]:
import pandas as pd
import glob
import os

az_droput_rates = pd.read_csv("data/az_2020_dropout_rate_analysis.csv")
df = az_droput_rates 
df.head()

,Fiscal Year,LEA Entity ID,LEA Name,School Entity ID,School Name,Charter,Subgroup,❖ Dropout Percentage Rate
0,2020,4404,Marana Unified District,5768,A. C. E.,N,All,9.09
1,2020,4404,Marana Unified District,5768,A. C. E.,N,Asian,*
2,2020,4404,Marana Unified District,5768,A. C. E.,N,Black/African American,*
3,2020,4404,Marana Unified District,5768,A. C. E.,N,ELL Cohort,*
4,2020,4404,Marana Unified District,5768,A. C. E.,N,Female,*

In [16]:
# print school names and subgroups
az_school_name = df['School Name'].unique()
print("Unique schools", az_school_name)
az_school_subgroup = df['Subgroup'].unique()
print("Unique subgroups", az_school_subgroup)

Unique schools ['A. C. E.' 'AAEC - Paradise Valley' 'AAEC - SMCC Campus' ...,
 'Yuma High School' 'Yuma Online Distance Academy'
 'Zuni Hills Elementary School']
Unique subgroups ['All' 'Asian' 'Black/African American' 'ELL Cohort' 'Female'
 'Foster Care Cohort' 'Hispanic or Latino' 'Homeless Cohort'
 'Income Eligibility 1 and 2' 'Male' 'Migrant Cohort' 'Military Cohort'
 'Students With Disabilities' 'White' 'American Indian or Alaska Native'
 'Multiple Races' 'Native Hawaiian or Pacific Islander']

In [23]:
# getting the number of unique values for school names 
az_schools = len(pd.unique(df['School Name']))
print('Arizona High Schools', az_schools)
# getting the number of unique values for groups
az_schools = len(pd.unique(df['Subgroup']))
print('Arizona Subgroups', az_schools)

Arizona High Schools 1253
Arizona Subgroups 17