In [9]:
# Read children with disability Data 2015 - 2019 school years
import pandas as pd
import glob

path = "data/children-with-disabilities"  
all_files = glob.glob(os.path.join(path, "*.csv")) 

df_from_each_file = (pd.read_csv(f) for f in all_files)

concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.head()

,SCHOOL_YEAR,FIPST,STATENAME,ST,LEA_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,IDEA_COUNT,DMS_FLAG
0,2018-2019,1,ALABAMA,AL,Alabama Youth Services,1,NaN,AL-210,100002,36.0,Reported
1,2018-2019,1,ALABAMA,AL,Albertville City,1,NaN,AL-101,100005,443.0,Reported
2,2018-2019,1,ALABAMA,AL,Marshall County,1,NaN,AL-048,100006,845.0,Reported
3,2018-2019,1,ALABAMA,AL,Hoover City,1,NaN,AL-158,100007,1316.0,Reported
4,2018-2019,1,ALABAMA,AL,Madison City,1,NaN,AL-169,100008,1277.0,Reported

In [23]:
# Group by years to get counts:
concatenated_df.groupby('SCHOOL_YEAR')["IDEA_COUNT"].agg(['sum', 'mean', 'max'])
# Warning: Puerto Rico is being included as a seperating District thus creating an outlier!

                   sum        mean       max
SCHOOL_YEAR
2016-2017    6882239.0  414.817612  118882.0
2017-2018    7066596.0  428.876373  105827.0
2018-2019    7236536.0  417.307883  103137.0

In [26]:
# Lets remove Puerto Rico for now
filter = ["PUERTO RICO DEPARTMENT OF EDUCATION"]
concatenated_df_no_PR = concatenated_df[concatenated_df['LEA_NAME']!="PUERTO RICO DEPARTMENT OF EDUCATION"]
concatenated_df_no_PR.groupby('SCHOOL_YEAR')["IDEA_COUNT"].agg(['sum', 'mean', 'max'])

                   sum        mean      max
SCHOOL_YEAR
2016-2017    6763357.0  407.676733  85751.0
2017-2018    6960769.0  422.479303  85672.0
2018-2019    7133399.0  411.384025  72355.0

I was concerned that 7 million was an error with the data but there are around 7 million disabled students in the USA. That is around 14% of students..and it looks like its trending up - I wonder how these students are being affected by covid. 

https://www.pewresearch.org/fact-tank/2020/04/23/as-schools-shift-to-online-learning-amid-pandemic-heres-what-we-know-about-disabled-students-in-the-u-s/#:~:text=1%20The%20nearly%207%20million,for%20which%20data%20is%20available.

The nearly 7 million disabled students in the U.S. make up 14% of national public school enrollment, according to data from the National Center for Education Statistics. This group has grown 11% between 2000-01 (when there were 6.3 million students) and 2017-18, the most recent year for which data is available.Apr 23, 2020