# Data Exploration Notebook

## 1. 2005 - 2015 Graduation Rates Public School in New York

Graduation rates for New York public schools in 2005 - 2015

In [9]:
import pandas as pd

grad_rates = pd.read_csv("data/Graduation Rates Public - School 2005-2015 New York/2005-2015_Graduation_Rates_Public_-_School.csv")
grad_rates.head()

,DBN,School,Cohort Year,Cohort Category,Total Cohort #,Total Grads #,Total Grads % of cohort,Total Regents #,Total Regents % of cohort,Total Regents % of grads,...,Regents w/o Advanced #,Regents w/o Advanced % of cohort,Regents w/o Advanced % of grads,Local #,Local % of cohort,Local % of grads,Still Enrolled #,Still Enrolled % of cohort,Dropped Out #,Dropped Out % of cohort
0,01M056,CORLEARS SCHOOL,2001,4 Year June,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,01M056,CORLEARS SCHOOL,2001,5 Year June,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2,01M056,CORLEARS SCHOOL,2001,6 Year,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
3,01M056,CORLEARS SCHOOL,2003,4 Year June,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
4,01M056,CORLEARS SCHOOL,2003,5 Year June,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s

In [10]:
cohort_categories = grad_rates['Cohort Category'].unique()
school_names = grad_rates['School'].unique()
print("Categories: ", cohort_categories)

Categories:  ['4 Year  June' '5 Year  June' '6 Year' '4 Year August' '5 Year August']

In [11]:
print("school_names:", school_names[:20]) # returns the top 20 from the ndarray

school_names: ['CORLEARS SCHOOL' 'HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES'
 'UNIVERSITY NEIGHBORHOOD HIGH SCHOOL' 'EAST SIDE COMMUNITY SCHOOL'
 'FORSYTH SATELLITE ACADEMY' 'MARTA VALLE HIGH SCHOOL'
 'LOWER EAST SIDE PREPARATORY HIGH SCHOOL'
 'NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND MATH HIG'
 'CASCADES HIGH SCHOOL' 'BARD HIGH SCHOOL EARLY COLLEGE'
 '47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECONDARY SC'
 'FOOD AND FINANCE HIGH SCHOOL' 'ESSEX STREET ACADEMY'
 'HIGH SCHOOL OF HOSPITALITY MANAGEMENT' 'PACE HIGH SCHOOL'
 'URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTION, THE'
 'FACING HISTORY SCHOOL, THE'
 'URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE'
 'LOWER MANHATTAN ARTS ACADEMY'
 'JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDITIONARY']