In [ ]:
# Master Join Data Set

In [3]:
# Merged Enrollment (State) 
# Read year 2020 
import pandas as pd
texas_enrollment_2020 = pd.read_csv("data/texas/2020/Statewide Totals/Grade and Gender/Enrollment Report_Statewide_Grade_Gender_2019-2020.csv")
texas_enrollment_2020["state"] ="Texas"


# Do all of our data sets have County? 



texas_enrollment_2020

         YEAR  GENDER             GRADE  ENROLLMENT  state
0   2019-2020  Female   Early Education        7885  Texas
1   2019-2020    Male   Early Education       17998  Texas
2   2019-2020  Female  Pre-kindergarten      124575  Texas
3   2019-2020    Male  Pre-kindergarten      124651  Texas
4   2019-2020  Female      Kindergarten      187020  Texas
5   2019-2020    Male      Kindergarten      197094  Texas
6   2019-2020  Female           Grade 1      190986  Texas
7   2019-2020    Male           Grade 1      200463  Texas
8   2019-2020  Female           Grade 2      189684  Texas
9   2019-2020    Male           Grade 2      198991  Texas
10  2019-2020  Female           Grade 3      191168  Texas
11  2019-2020    Male           Grade 3      200627  Texas
12  2019-2020  Female           Grade 4      195070  Texas
13  2019-2020    Male           Grade 4      205041  Texas
14  2019-2020  Female           Grade 5      203725  Texas
15  2019-2020    Male           Grade 5      213719  Texas
16  2019-2020  Female           Grade 6      206059  Texas
17  2019-2020    Male           Grade 6      216681  Texas
18  2019-2020  Female           Grade 7      205885  Texas
19  2019-2020    Male           Grade 7      217660  Texas
20  2019-2020  Female           Grade 8      200530  Texas
21  2019-2020    Male           Grade 8      210742  Texas
22  2019-2020  Female           Grade 9      214523  Texas
23  2019-2020    Male           Grade 9      234599  Texas
24  2019-2020  Female          Grade 10      198922  Texas
25  2019-2020    Male          Grade 10      208122  Texas
26  2019-2020  Female          Grade 11      186678  Texas
27  2019-2020    Male          Grade 11      190530  Texas
28  2019-2020  Female          Grade 12      175909  Texas
29  2019-2020    Male          Grade 12      178403  Texas

# Data Set

In [ ]:
# Covid Cases (by count)

In [ ]:
# Merge with covid data

In [ ]:
# Not Merged with Covid Data